## Spatial Joins
Eine räumliche Verknüpfung verwendet binäre Prädikate wie z.B. Intersection, um zwei GeoDataFrames basierend auf der räumlichen Beziehung zwischen ihren Geometrien zu kombinieren.

![](img/spatial_join.png "GeoPandas")

Ein häufiger Anwendungsfall kann eine räumliche Verknüpfung zwischen einer Punktebene und einer Polygonebene sein, bei der die Polygongeometrien beibehalten und die Attribute der sich schneidenden Punkte erfasst werden.

In [2]:
import geopandas as gpd
  
pois = gpd.read_file("data/pois_p2.shp")
buildings = gpd.read_file("data/buildings_a2.shp")
pois.head()

,fid,osm_id,code,fclass,name,geometry
0,1331.0,313077798,2031,recycling_glass,Recyclinghof St. Gabriel,MULTIPOINT (873224.294 6109849.666)
1,6100.0,942684701,2033,recycling_clothes,None,MULTIPOINT (874352.929 6110194.417)
2,6115.0,950263487,2031,recycling_glass,None,MULTIPOINT (874718.168 6110079.399)
3,49.0,31445132,2004,post_box,None,MULTIPOINT (874342.365 6110163.978)
4,14156.0,3473635334,2083,kindergarten,Kita Junikäfer,MULTIPOINT (874493.348 6109890.440)

In [6]:
#Left Join
from geopandas.tools import sjoin
df = sjoin(buildings, pois, how="left")

df1 = df[df['fid_right'].notnull()]
df1.head()

,fid_left,osm_id_left,code_left,fclass_left,name_left,type,geometry,index_right,fid_right,osm_id_right,code_right,fclass_right,name_right
91,12056.0,100084352,1500,building,None,apartments,"POLYGON ((873920.564 6108578.227, 873937.073 6...",125.0,14442.0,3647226289,2301.0,restaurant,Liebes Bisschen
103,12068.0,100084371,1500,building,None,apartments,"POLYGON ((873889.528 6108520.687, 873900.349 6...",124.0,10773.0,2469267908,2512.0,clothes,enorm
197,16658.0,105230553,1500,building,None,apartments,"POLYGON ((873657.728 6108014.756, 873665.843 6...",195.0,9864.0,2290965924,2561.0,hairdresser,Der Goldene Schnitt
202,16668.0,105230609,1500,building,None,apartments,"POLYGON ((873832.678 6108201.261, 873843.587 6...",115.0,7027.0,1354446632,2304.0,pub,Kandelhof
202,16668.0,105230609,1500,building,None,apartments,"POLYGON ((873832.678 6108201.261, 873843.587 6...",121.0,274.0,187045796,2203.0,cinema,Kino Kandelhof